<xml>
<DBServer><![CDATA[<host name of your db>]]></DBServer>
<DBUSER><![CDATA[<you db account>]]></DBUSER>
<DBPWD><![CDATA[<password of your db login>]]></DBPWD>
<WeiChatToken><![CDATA[<token for your weichat account>]]></WeiChatToken>
</xml>